
:root {
  --color-primary: #5D6AF6;
  --color-bg: #f8fafc;
  --color-S: #ff5918;
  --color-A: #FF00D0;
  --color-B: #ee2c2c;
  --color-C: #FFA600;
  --color-D: #EECB07;
  --color-E: #51FF00;
  --color-F: #5AC8FF;
  --color-G: #8B8B8B;

  --color-pittier: #FFC0C1;
  --color-catcher: #C5E5FF;
  --color-infielder: #FFF690;
  --color-outfielder: #BCFF9D;
}

