.loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.inner{
    color: #000;
    background-color: #fff;
    position: absolute;
    max-width: 80%;
    border-radius: 5px;
    text-align: center;
    box-shadow: inset -2px -2px 5px #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

.spinner{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-bottom: #46b5d1 solid 5px;
    animation: spinner-rotation 0.8s ease-out infinite;
}

.message{
    max-width: calc(100% - 60px);
}

@keyframes spinner-rotation {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}